html {
  background-color: #F2F2F2;
}

body {
  font-family: Montserrat Alternates;
}
.container {
 
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin:auto;
}

a {
  text-decoration: none;
}

.navigation{
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-top: 30px;
  
}

.navigation a{
  padding: 0 30px;
  color: black;
}


.header h1 {
  background-image: url(images/background-cover.jpg);
  height: 718px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size:60px;
  color:#F2F2F2;
  font-weight: 900;
}

.about-me-title h1 {
  align-self: center;
  text-decoration: underline;
}

.about-me-avatar{
  width: 30%;
  height:30%;
  margin: 30px 30px;
}
.about-me .about-me-title{
  display:flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  font-size: 30px;
 
}

.about-me-title {
  align-content: center;
}

.about-me-description {
 display:flex;
 flex-direction: row; 
 text-align: justify;
 margin: 0 30px;
}

.my-project h1{
  display: flex;
  text-align: center;
  text-decoration: underline;
  font-size: 40px;
  align-self: center;
}

.my-project {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

.my-project-1 {
  display:flex;
  justify-content: center;
  align-self: center;
  flex-direction: row;
  text-align: justify;
  margin: 30px 30px;
 
}
.my-project-1 a {
  /* margin: 0 90px ; */
  text-align: center;
  justify-content: center;
  align-self: center;
  font-size: 30px;
  color: black;
}

.my-project-todo {
  display: flex;
  flex-direction: column;
  margin: 0 200px 0 0;
  text-align: center;
}

.my-project-kanban {
  display: flex;
  flex-direction: column;
  margin: 0 0 200px 0;
  text-align: center;
}
.my-project-2 {
  display:flex;
  flex-direction: row;
  /* text-align: justify; */
  align-self: center;
  justify-content: center;
  text-align: center;
  margin: 30px 30px;
}

.my-project-2 a {
  margin: 200px ;
  text-align: center;
  justify-content: center;
  align-self: center;
}

.my-project-ecommerce {
  display: flex;
  flex-direction: column;
  margin : 0 200px 0 0;
  text-align: center;
  font-size: 30px;
  color:black;
}

.my-project-games {
  display: flex;
  flex-direction: column;
  margin: 0 0 200px 0;
  text-align: center;
  font-size: 30px;
  color:black;
}

.contact-me h1{
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}
.contact-me-1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.footer {
  display:flex;
  background-color:black;
  color: white;
}

.footer p {
  display:flex;
  justify-content: center;
  text-align: center;
}

